### Generic ###

# VIM
*.sw*
*.vim*
*.obsession*

# misc. garbage
*.bak
*.old*
~*
*~
-

# Damn you steve jobs!!!!
.DS_Store

# Damn you bill gates!!!!
$RECYCLE.BIN
System Volume Information

# vscope
.vscode/*
*.code-workspace
.history/

# potential credentials
*.pem
*.secret
**/credentials.json
**/client_secrets.json
**/client_secret.json
*creds*
*.dat
*password*
*.httr-oauth*
*.env
!*.sample.env

# C/C++
*.o
*.out
*.a
*.so
*.dll

# Python
__pycache__/
*.py[cod]
*$py.class
.clirope
*.egg-info
build
dist
coverage.json
htmlcov
*.spec
.coverage
.ipynb_checkpoints

# Archives
*.zip
*.tar
*.rar
*.tar.*
*.tzst
*.tgz
*.txz
*.zst
*.gz

# Multimedia
*.xcf
*.svg
*.jpg
*.jpeg
*.png
*.avif
*.gif
*.pdf
*.gv
!img/*.jpg
!img/*.png
!img/*.svg
!img/*.gv

# cmake

CMakeCache.txt
CMakeFiles
cmake_install.cmake
.cmake
*.cmake
.skbuild-info.json
CMakeInit.txt

### Project-specific ###

# Allow .dat, it's used for resources
!*.dat

venv
tmp
docs
doxy/docs
podman/output
testfile
gateau_test
gateau_tests
gsl

archive/**
!archive/wheel/
!archive/wheel/old/
!archive/wheel/**/*.tar.gz
!archive/wheel/**/*.whl
!archive/wheel/*.tar.gz
!archive/wheel/*.whl
!archive/docker/
!archive/docker/**/*.tar*
!archive/docker/*.tar*
!archive/pipcache/
!archive/pipcache/*.whl

*.deb

build.docker
build.dk

win/dep/gsl-msvc14-x64.2.3.0.2779/
win/dep/hdf5/
win/vm/6.gateau020.qcow2

