[build-system]
requires = ["scikit-build-core"]
build-backend = "scikit_build_core.build"

[project]
license = "AGPL-3.0-only"
name = "gateau"
description = """GPU-Accelerated Time-dEpendent observAtion simUlator"""
readme = "README.md"
version = "0.1.0"
authors = [
	{name = "Arend Moerman"},
	{name = "maybetree", email = "maybetree48@proton.me"}
	]
dependencies = [
	"numpy",
	"matplotlib",
	"scipy",
	"tqdm",
	"astropy",
	"psutil",
	]

classifiers = [
	"Programming Language :: Python :: 3",
	"Programming Language :: C",
	"Programming Language :: C++",
	"Environment :: GPU :: NVIDIA CUDA :: 11",
	"Operating System :: OS Independent",
	]

requires-python = '>=3.9'

[tool.scikit-build]
build.verbose = true
logging.level = "DEBUG"
#editable.mode = "inplace"
#wheel.packages = ["gateau"]

#[tool.scikit-build.cmake.define]
#CMAKE_LIBRARY_OUTPUT_DIRECTORY = "src/gateau"


